body {
    background-color: #8e0900;
}

.dc-data-grid {
    color: #fff;
    padding-bottom: 100px;
}

#intro {
    color: #fff;
}

.hide {
    display: none;
}

h1,
h2 {
    font-family: 'Bangers', cursive;
}

p {
    font-family: 'Delius', cursive;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.alternate-text {
    font-family: 'Bangers', cursive;
    color: #000754;
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke: 0.25px white;
}

.dc-data-grid {
    color: #000;
}

.main-title {
    font-size: 250px;
    color: #8e0900;
    -webkit-text-stroke: 9px black;
}

.btn {
    background-color: #ffcd28;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    border: 2px solid black;
    outline: 5px solid white;
    margin-bottom: 20px;
    -moz-box-shadow: -3px 4px 4px 8px #000;
    -webkit-box-shadow: -3px 4px 4px 8px #000;
    box-shadow: -3px 4px 4px 8px #000;
}

.header {
    background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(0)" opacity="0.5" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="5"/><circle cx="75" cy="75" r="5"/><circle cx="75" cy="25" r="5"/><circle cx="25" cy="75" r="5"/></g></svg>'),
    #000754;
    margin-bottom: 20px;
}

.main-page {
    max-width: 800px;
    margin: auto;
}

.text-box {
    background-color: #ffcd28;
    padding: 10px;
    border: 2px solid black;
    outline: 5px solid white;
    margin-bottom: 20px;
    -moz-box-shadow: -3px 4px 4px 8px #000;
    -webkit-box-shadow: -3px 4px 4px 8px #000;
    box-shadow: -3px 4px 4px 8px #000;
}




/* Media Queries */

@media (max-width: 575.98px) {
    .main-title{
        font-size: 70px;
        -webkit-text-stroke: 3px black;
    }
}
